.navmap-canvas {
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hide-scrollbar {
  scrollbar-width:none;
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none
}
.hide-scrollbar::-webkit-scrollbar {display: none}

.heading-container {
  position: fixed;
  right: 15px;
  top: 0;
  width: 100px;
  overflow: hidden;
  height: 100vh;
  text-align: right;
}

.map-heading {
  position: absolute;
  right: 0;
  width: max-content;
  font-weight: normal;
  cursor: pointer;
  font-size: 12px
}
